<%= render 'shared/header', title: "Log In" %>
<div class='container'>
  <%= form_with(url: '/login', local: true) do %>
    <div class='form-group'>
      <%= label_tag 'username' %>
      <%= text_field_tag(name='username', value='', options={class: 'form-control w-50'}) %>
    </div>
    <div class='form-group'>
      <%= label_tag :password %>
      <%= password_field_tag(name='password', value='', options={class: 'form-control w-50'}) %>
    </div>
    <%= submit_tag(value='Login', options={class: "btn btn-outline-primary mt-3"})%>
  <% end %>
</div>
