<% post ||= nil %>
<% user ||= nil %>

<%= render 'shared/nav' %>
<section class='jumbotron text-center'>
  <h1 class='jumbotron-heading'><%= title %></h1>
  <% if post %>
    <%= render 'post_url', post: post %>
    <%= render 'shared/creator_details', obj: post %>
  <% elsif user %>
    <%= link_to 'Edit', edit_user_path(current_user.id) %>
  <% end %>
</section>
<%= render 'shared/flash' %>
