<nav class='navbar navbar-expand-sm navbar-dark bg-dark'>
  <%= link_to 'PostIt', root_path, class: 'navbar-brand' %>
  
  <ul class='navbar-nav'>
    <li class='nav-item'><%= link_to 'Posts', posts_path, class: 'nav-link' %></li>
    <li class='nav-item'><%= link_to 'Categories', categories_path, class: 'nav-link' %></li>
  <% if logged_in? %>
    <li class='nav-item'><%= link_to 'New Post', new_post_path, class: 'nav-link' %></li>
    <li class='nav-item'><%= link_to 'New Category', new_category_path, class: 'nav-link' %></li>
    <li class='nav-item'><%= link_to 'Log Out', logout_path, class: 'nav-link' %></li>
  <% else %>
    <li class='nav-item'><%= link_to 'Register', register_path, class: 'nav-link' %></li>
    <li class='nav-item'><%= link_to 'Log In', login_path, class: 'nav-link' %></li>
  <% end %>
  </ul>
</nav>
