<h1>Posts Tagged "<%= @category.name.capitalize %>"</h1>

<%= render 'shared/flash' %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>URL</th>
      <th>Description</th>
    </tr>
  </thead>
 
  <tbody>
    <% @category.posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.url %></td>
        <td><%= post.description %></td>
        <td><%= link_to "Show", post %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "All Categories", categories_path %>
