<article class="card bg-light m-3" style="width: 18rem;">
  <h5 class="card-header"><%= post.title %></h5>
  <div class="card-body d-flex flex-column">
    <%= render 'post_url', post: post %>
    <p class="card-text"><%= post.description %></p>
    <%= render 'shared/creator_details', obj: post %>
    <div class="btn-group mt-auto w-50">
      <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "View", post_path(post) %></button>
      <% if current_user == post.creator %>
        <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "Edit", edit_post_path(post) %></button>
      <% end %>
    </div>
  </div>
</article>
