<h1><%= @post.title %></h1>

<%= render 'shared/flash' %>

<p> Tags: 
<% @post.categories.each do |category| %>
  <%= link_to category.name, category_path %>
<% end %>
</p>

<p>URL: <%= @post.url %></p>
<p>Description: <%= @post.description %></p>
<%= link_to "All Posts", posts_path %>
